.update{
	padding-top: 2.5rem;
}
.input-group{
	margin-bottom: 1.5rem;
}
.input-group-addon{
	min-width: 67px;
}
.save{
	display: block;
	min-width:  67px;
	min-height: 34px;
	color: #fff;
	background-color: #337ab7;
	border: 1px solid #337ab7;
	border-radius: 4px;
}